* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#display {
    border: 1px solid black;
    width: 200px;
    height: 50px;
    text-align: right;
    overflow: hidden;
    /* direction: rtl; */
}

.button-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-container > div {
    display: flex;
    gap: 5px;
}

button {
    width: 45px;
    height: 30px;
    border-radius: 5px;
}

#zero, #equal {
    width: 95px;
}