* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.calculator {
    border: 1px solid red;
    border-radius: 10px;
    background-color: #363636;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

@font-face {
    font-family: digital-7;
    src: url(digital-7.regular.ttf);
}

#display {
    font-family: digital-7;
    box-shadow: inset 0 0 5px #1B1610;
    border-radius: 5px;
    width: 220px;
    height: 65px;
    overflow: hidden;
    background-color: #9C9F84;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    /* direction: ltr; */
}

@font-face {
    font-family: eurostile;
    src: url(eurostile.TTF);
}

#name {
    font-family: eurostile;
    font-weight: bolder;
    color: #E5E4E2;
}

.button-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-container > div {
    width: 245px;
    display: flex;
    gap: 5px;
}

button {
    width: 45px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    color: #FBFCF8;
    background-color: #212121;
}

#zero, #equal {
    width: 95px;
}